/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.list {
  list-style: circle;
}

.card{
  border: 1px solid salmon;
  display: block;
  height: 340px;
  padding: 10px;
  width: 150px;
}

.card--header{
  padding: 10px;
  margin-botton: 5px;
  font-size: 20px;
}

.card--body{
  font-size: 18px;
  color: black;
}

.card--footer{
  color: gray;
  text-align: center;
}